*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1B1919;
  display: flex;
  justify-content: center;
  padding: 133px 30px;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.content {
  display: flex;
  align-items: end;
  max-width: 1200px;
  gap: 30px;
}
.search-form {
  padding: 10px 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: auto;
}
.content__details{
  overflow-x: hidden;
}
.content__list-item {
  height: 100%;
  padding: 0 0 30px 0;
}
.content__list-item:nth-last-child(2){
  padding:0;
}

.content__details {
  width: 100%;
}
.title {
  padding: 0 0 28px 0;
}

.result__video-container {
  display: flex;
  position: relative;
  max-height: 386px;
  min-width: 710px;
}
.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.title {
  padding: 0 0 28px 0;
}

.content__video-card {
  margin: 3px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  max-height: 103px;
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
}

.search-form__fieldset-title {

  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 5px 0 0px 0;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  padding: 6px 0 0 0 ;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.content__video-card-description {
  padding: 5px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

fieldset {
  border: none;
}
.search-form__label {
  padding: 4.5px 0 4.5px 2px;
  width: fit-content;
  display: flex;
}

.search-form__label:has(> .search-form__checkbox):hover {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__label-text,
.button,
.search-form__pseudo-checkbox {
  cursor: pointer;
}
.search-form__submit-button,
.more-button {
  width: 100%;
  min-height: 34px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid white;
}


.search-form__pseudo-checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 4px;
  background-color: transparent;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__textfield {
  padding: 0px 0 0px 0;
  appearance: none;
  min-width: 225px;
  min-height: 27px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  border:none;
  background-color: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:active{
  border: 1px solid #fff;

}


.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}


  .button:focus,
  .content__card-link:focus {
    outline: none;

 
}

.button:focus-visible{
  outline: 1px solid;
  outline-offset: 1px;
}
.content__card-link:focus-visible{
  outline: 1px solid;

}

.content__card-link:hover,
.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}
.content__card-link:active{
  text-decoration: none;
}


.content__card-link_current{
  background-color:#545050;
  
}


/* .content__list::-webkit-scrollbar {
  display: none;
} */