/* stylelint-disable rule-empty-line-before */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  padding: 133px 30px;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  max-width: 1200px;
  gap: 30px;
}

.search-form {
  padding: 0;
  display: flex;

  align-items: start;
  gap: 40px;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__details {
  inline-size: 399px;
  block-size: 100%;
  overflow-x: hidden;
}

.content__list-item:not(:last-of-type) {
  padding: 0 0 30px;
}


.result__video-container {
  display: flex;
  position: relative;
  block-size: 386px;
  max-inline-size: 710px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  margin: 1px 0 1px 1px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  max-block-size: 103px;
  min-inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 5px;
}

.title {
  display: block;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  padding: 0 0 20px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  padding: 4px 0 0;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  padding: 6px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.search-form__fieldset {
  border: none;
}

.search-form__label-text {
  padding: 0 0 0 5px;
}

.search-form__submit-button {
  padding: 0;
  margin-top: 18px;
  min-inline-size: 194px;
}

.more-button {
  display: flex;
  inline-size: 100%;
  max-inline-size: 396px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 1px 2px ;
}

.button{
  min-block-size: 34px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid white;
}

.search-form__label {
  padding: 1px 0 1px 1px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.search-form__label:has(> .search-form__checkbox):hover {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.search-form__label-text,
.button,
.search-form__pseudo-checkbox {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 0;
  height: 19px;
  inline-size: 19px;
  background-color: transparent;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;

}

.search-form__textfield {
  appearance: none;
  min-inline-size: 225px;
  min-block-size: 22px;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  font-weight: inherit;
  border: none;
  background-color: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.button:focus,
.content__card-link:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid;
  outline-offset: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid;
}

.content__card-link:hover,
.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:active {
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

